# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*/build/
/build/

# Flutter version manager local configuration file.
.fvm/

# Firebase related cache files.
.firebase/

# Firebase temporary build files.
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/ios/firebase_app_id_file.json
**/ios/Flutter/DartEnvironmentVariables.xcconfig

# Web related

# Symbolication related
**/app.*.symbols

# Obfuscation related
**/app.*.map.json

# Exceptions to above rules.
!**/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Secret keys for signing apps for release.
**/android/key.properties
**/android/app/upload-keystore.jks

# Golden screenshots failure files.
**/failures/*.png

# ML service creds
ml/creds/*.json

# ML service logs
ml/logs/*.log

# ML service data
ml/data/datasets/*.pickle
ml/data/datasets/*.csv
